/* header  */
#header{
    display: flex;
}
#header div{
    width: 90%;
    /* background-color: #60192b; */
    background-color: #732b3e;
    color: white;
    text-align: center;
}
img{
    width: 100%;
    height: 450px;
}
#header p{
    font-size: 50px;
}
#header>div>div{
    display: flex;
    justify-items: center;
    margin: auto;
}
input{
    width: 100%;
    padding: 8px;
}
#header>div>div>div:nth-child(1){
    width: 80%;
}
#header>div>div>div:nth-child(2){
    width: 20%;
    background-color: #18a463;
    padding: 8px;
}
#header>div>div:nth-child(3){
 display: flex;
 justify-content: space-around;
 margin: 20px;
}
button{
    border-radius: 10px;
    border: 1px solid white;
    background-color: #6b2234;
    color: white;
}

/* trusties */

#trust{
    width: 100%;
    background-color: #fafafa;
    color: #b5b6ba;
}
#trust>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
#trust>div>img{
width: 80px;
height: 70px;
}

/* services */
#service{
    width: 100%;
    height: 100px;
    padding: 20px;
}
#service>div:nth-child(2){
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
#service img{
    height: 300px;
    width: 190px;
    position:absolute;
}
.para{
    position: relative;
    color: white;
}
/* finger  */
#finger{
    background-color: yellow;
    height: 100px;
}

